.App {
  padding: 3rem 10rem;
  min-width: 20rem;
}

.App-header {
  background-color: #282c34;
  min-height: 1rem;
  min-width: 15rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 1.5em;
  color: white;

  padding: 1em 1em;

  /* border-bottom: 2px solid darkcyan; */
}

.App-content {
  background-color: #3c4149;
  min-height: 1rem;
  min-width: 15rem;

  font-size: 1.5em;
  color: white;
}

.avatar {
  font-size: 2em;
  color: rgb(99, 235, 235);
}

.activity-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;

  border-bottom: 1px solid #282c34;
}

.activity {
  padding: 0em 1em;
  font-size: 0.8em;

  flex-grow: 2;

  flex-direction: column;
}

.activity > p {
  margin: 0;
}

.activity > .time {
  font-size: 0.6em;
}

.comment-count > span {
  padding: 0em 0.5em;
  font-size: 0.8em;
}
